/*:root {
    --ff-primary: "Cairo", sans-serif;

    --clr-background: #f5f5f5
    --clr-white: #faf0e0;
    --clr-black: #090e01;
    --clr-bege1-logo: #d58540;
    --clr-bege2-logo: #d38443;
    --clr-bege-claro:#eec59c;
    --clr-bege-escuro: #dbab86;  
    --clr-bege-escuro-mais-escuro:  #b37a44;    

}*/

*{
    margin: 0;
    padding: 0;
    font-family:'Montserrat',sans-serif;  
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
}
header {
    width: 100%;
    height: 100vh;
    background: none;
}

nav {
    background:#d58540 ;
    color: #fff;
    padding: 16px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.img {
    background-image: url(../IMAGENS/Snapinsta.app_1080_310395951_539301494557617_8918258455946964801_n.jpg);
}

.navbar {
    display: flex;
}
.navbar a {
    color: #fff;
    margin: 0 20px;

}

.navbar a.active {
    background: #fff;
    padding: 6px 15px;
    color: #d58540;
}

.redes-sociais i {
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

#botao-menu {
    display: none;
    
}

@media (max-width: 800px) {
    html {
        font-size: 90%;
    }
    .navbar{
        position: fixed;
        top: -100%;
        left: 0;
        min-height: 100vh;
        width: 100%;
        background: #d58540;
        display: block;
        text-align: center;
        padding-top: 25%;
        font-size: 30px;
        border-bottom-right-radius:30%;
        transition: .3s;

    }
    .navbar li {
        padding: 20px 0;
    }
    #botao-menu {
        display: block;
        position: relative;
        right: 4%;
        top: 4%;
        z-index: 999;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
        user-select: none;
    }
    #logo {
        position: relative;
        z-index: 999;

    }
    .mobile-menu {
            top: 0;
    }
}